<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <meta name="description" content="{{ page_description | escape }}"> <link rel="canonical" href="{{ canonical_url }}"> <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- Header hook for plugins -->
    {{ content_for_header }}
    <!-- Style & script tag -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700" rel="stylesheet">

    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'plugins.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% comment %} {% section 'header' %} {% endcomment %}
    {% section 'announcement-bar' %}
    {% section 'header' %}

    {% comment %} js files {% endcomment %}
    <main role="main">
      {{ content_for_layout }}</main>
    <script src="{{ 'modernizr-3.6.0.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    <script src="{{ 'popper.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer></script>
    <script src="{{ 'plugins.js' | asset_url }}" defer></script>
    <script src="{{ 'main.js' | asset_url }}" defer></script>
    <script
      defer
      src="https://kit.fontawesome.com/75c46bc2bc.js"
      crossorigin="anonymous"></script>

  </body>
</html>