
            <!-- About Us -->
            <div class="tm-section about-us-area bg-white tm-padding-section section-wrapper-{{section.id}}">
                <span class="bg-shape-2"><img src="{{ section.settings.bg-img | img_url: 'master' }}"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="about-content about-content-2">
                                <h2>{{ section.settings.heading }}</h2>
                              {{ section.settings.description }}

                                <div class="about-contentbottom">
                                    <a href="#" class="tm-callbutton">
                                        <span class="tm-callbutton-icon"><i class="zmdi zmdi-phone-in-talk"></i></span>
                                        <h3> {{ section.settings.phone-number }} </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2">
                            <div class="about-videobox">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 398 358">
                                    <defs>
                                        <pattern id="attachedImage1" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                                            <image xlink:href="{{ section.settings.heroslider-img | img_url }}"
                                                preserveAspectRatio="none" width="1" height="1" />
                                        </pattern>
                                    </defs>
                                    <path opacity="0.102" fill="rgb(0, 117, 183)" d="M82.843,22.613 C175.233,-23.488 239.443,6.649 290.825,61.522 C342.208,116.395 387.664,123.712 393.707,208.984 C399.750,294.254 313.624,341.741 274.739,347.672 C235.855,353.603 189.875,346.162 138.910,347.419 C63.098,349.289 33.144,322.675 18.231,290.376 C-2.864,244.685 19.343,229.351 6.068,175.158 C-9.838,110.222 10.571,58.677 82.843,22.613 Z" />
                                    <path fill="url(#attachedImage1)" d="M152.967,0.590 C250.043,-6.027 295.075,43.373 320.013,109.616 C344.951,175.858 381.888,198.656 356.382,274.898 C330.877,351.140 238.755,361.226 202.759,352.311 C166.763,343.397 129.414,320.302 84.587,302.958 C17.905,277.158 1.427,243.209 0.097,209.764 C-1.784,162.451 23.084,157.167 31.080,105.300 C40.661,43.151 77.029,5.768 152.967,0.590 Z" />
                                    <path fill="rgba(0,0,0,0.1)" d="M152.967,0.590 C250.043,-6.027 295.075,43.373 320.013,109.616 C344.951,175.858 381.888,198.656 356.382,274.898 C330.877,351.140 238.755,361.226 202.759,352.311 C166.763,343.397 129.414,320.302 84.587,302.958 C17.905,277.158 1.427,243.209 0.097,209.764 C-1.784,162.451 23.084,157.167 31.080,105.300 C40.661,43.151 77.029,5.768 152.967,0.590 Z" />
                                </svg>
                                <div class="tm-videobutton">
                                    <a  href="https://www.youtube.com/watch?v=Sv511KEiIJQ" data-fancybox>
                                        <span><i class="flaticon-play-button"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--// About Us -->

           

         

   {% schema %}
    {
        "name": "About Page Hero Section",
        "settings": [
            {
            "type": "image_picker",
            "id": "bg-img",
            "label": "Background Image "
            },{
            "type": "text",
            "id": "heading",
            "label": "Hero Heading",
            "default": "Lorem"
            },
            {
            "type": "richtext",
            "id": "description",
            "label": "Hero Description",
            "default": "<p>Lorem Text</p>"
            },
            {
            "type": "text",
            "id": "phone-number",
            "label": "Contact Number",
            "default": "+880"
            },{
  "type": "image_picker",
  "id": "heroslider-img",
  "label": "Image of HeroSlider"
},
{
  "type": "video_url",
  "id": "hero-section-video",
  "label": "Hero Section video",
  "accept": [
    "youtube",
    "vimeo"
  ]
}
        ],
        "presets": [
            {
                "name": "About Page Hero Section"
            }
        ]
    }
   {% endschema %}