<div class="header">
  <!-- Header Bottom Area -->
  <div class="header-bottomarea">
    <div class="container">
      <div class="header-bottominner">
        <div class="header-logo">
          <a href="index.html">
            <img
              src="{{ section.settings.site-logo | img_url: '105px' }}"
              loading="lazy"
              width="105"
              height="65"
              alt="The Soap Store"
              id="logo">
          </a>
        </div>
        <nav class="tm-navigation">
          <ul>
            {% for link in section.settings.menu.links %}
              <li class="menu-link tm-navigation-dropdown">
                <a href="{{ link.url }}">{{ link.title }}</a>
                 {% if link.links.size > 0 %}
        <ul class="menu dropdown-child">
          {% for child_link in link.links %}
            <li class="menu-link tm-navigation-dropdown">
              <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
        </nav>


        <div class="header-icons">
          <ul>
            <li><a href="cart.html"><i class="zmdi zmdi-shopping-cart"></i></a></li>
            <li><a href="#" class="header-searchtrigger"><i class="zmdi zmdi-search"></i></a></li>
          </ul>
        </div>
        <div class="header-searchbox">
          <div class="header-searchinner">
            <form action="#" class="header-searchform">
              <input type="text" placeholder="Enter search keyword..">
            </form>
            <button class="search-close">
              <i class="zmdi zmdi-close"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="header-mobilemenu clearfix">
        <div class="tm-mobilenav"></div>
      </div>
    </div>
  </div>
  <!--// Header Bottom Area -->
</div>

{% schema %}
  {
    "name": "Header-Navbar",
    "settings": [
      {
        "type": "image_picker",
        "id": "site-logo",
        "label": "Site Logo"
      },{
         "type": "link_list",
  "id": "menu",
  "label": "Choose Menu"
      }
    ]
  }
{% endschema %}