<section class="section-wrapper-{{ section.id }} np-page-width">
  <div class="press-page-wrapper">
    <div class="blog-section-inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'single-image' %}
          <div class="single-img-post-wrapper">
            <div class="blog">
              <a href="#">
                <div class="blog-img">
                  <img src="{{ block.settings.image | img_url: 'master'}}" alt="image">
                </div>
              </a>
            </div>
          </div>
          <div class="blog-details-wrapper-{{ block.id }}">
            <p class="blog-author">{{ block.settings.blog-author }}</p>
            <p class="blog-title">{{ block.settings.blog-title }}</p>
          </div>

          {% when 'spacer-block' %}
          <div class="spacer-{{ block.id }}"></div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Single Image Blog",
    "settings": [],
    "blocks": [
      {
        "name": "Single Image",
        "type": "single-image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Add Image "
          },
          {
            "type": "text",
            "id": "blog-author",
            "label": "Megazine Name",
            "default": "ex: Vogue, Times"
          },
          {
            "type": "text",
            "id": "blog-title",
            "label": "Blog Title",
            "default": "Lorem Lorem"
          },
          {
            "type": "range",
            "id": "font_size_author",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Font size For Author",
            "default": 16
          }, {
            "type": "range",
            "id": "font_size_title",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Font size For Blog Title",
            "default": 16
          }, {
            "type": "color",
            "id": "blog-text-color",
            "label": "Blog text Color",
            "default": "#000000"
          }, {
            "type": "checkbox",
            "id": "hide-blog-details",
            "label": "Hide Blog Details",
            "default": false
          }
        ]
      }, {
        "name": "Spacer Block",
        "type": "spacer-block",
        "settings": [
          {
            "type": "range",
            "id": "spacer-height-desktop",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Spacer Height Desktop",
            "default": 10
          }, {
            "type": "range",
            "id": "spacer-height-mobile",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Spacer Height Mobile",
            "default": 10
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Single Image Blog",
        "blocks": [
          {
            "type": "single-image"
          }, {
            "type": "spacer-block"
          }

        ]
      }
    ]
  }
{% endschema %}

<style>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'single-image' %}

        .section-wrapper-{{ section.id }} .blog-img {
        padding: 64px 0;
        background: rgba(43, 39, 37, 0.1);
      }
      .section-wrapper-{{ section.id }} .blog-img img {
        display: block;
        margin: auto;
        max-width: 365px;
      }
      .section-wrapper-{{ section.id }} .blog-author {
        font-family: 'Intervogue';
        font-style: normal;
        font-weight: 400;
        font-size: {{ block.settings.font_size_author }}px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: {{ block.settings.blog-text-color }};
      }
      .section-wrapper-{{ section.id }} .blog-title {
        font-family: 'Silvana';
        font-style: normal;
        font-weight: 400;
        font-size: {{ block.settings.font_size_title }}px;
        line-height: 27px;
        text-align: justify;
        letter-spacing: -0.01em;
        color: {{ block.settings.blog-text-color }};
      }
      .section-wrapper-{{ section.id }} .blog-details-wrapper-{{ block.id }}{
        margin-top: 15px;
        display: flex;
        gap: 30px;
      }
      {% if block.settings.hide-blog-details %}
      .section-wrapper-{{ section.id }} .blog-details-wrapper-{{ block.id }}{
          display: none;
        }
      {% endif %}
      {% when 'spacer-block' %}
        .section-wrapper-{{ section.id }} .blog-section-inner .spacer-{{ block.id }}{
        height: {{ block.settings.spacer-height-desktop }}px;
      }
    {% endcase %}
  {% endfor %}
</style>