<!--  Products Area -->
<div class="tm-section products-area tm-padding-section bg-white section-wrapper-{{section.id}}">
  <span class="bg-shape-right"><img src="{{ section.settings.products-area-bg-img | image_url }}" /></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10 col-12">
        <div class="tm-section-title text-center">
          <h2>{{ section.settings.section-heading }}</h2>
          <p>
            {{ section.settings.section-description }}
          </p>
        </div>
      </div>
    </div>
    <div class="row product-slider-active tm-slider-arrow tm-slider-arrow-hovervisible">
      {% for product in collections[section.settings.collection].products %}
        <!-- Single Product -->
        <div class="col">
          <div class="tm-product">
            <div class="tm-product-image">
              <a class="tm-product-imagelink" href="{{ product.url }}">
                <img src="{{ product.featured_image | image_url }}" />
              </a>
              <ul class="tm-product-actions">
                <li>
                  <button
                    type="button"
                    data-fancybox
                    data-src="#tm-product-quickview">
                    <i class="zmdi zmdi-eye"></i>
                  </button>
                </li>
                <li>
                  <a href="cart.html">
                    <i class="zmdi zmdi-shopping-cart"></i>
                  </a>
                </li>
                <li>
                  <a href="cart.html">
                    <i class="zmdi zmdi-favorite"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tm-product-content">
              <h5 class="tm-product-title">
                <a href="product-details.html">{{ product.title }}</a>
              </h5>
              <div class="tm-product-rating">
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
              </div>
              <h6 class="tm-product-price">${{ product.price | money_without_currency }}
                <del>$120.00</del>
              </h6>
            </div>
          </div>
        </div>
        <!--// Single Product -->

      {% endfor %}

    </div>
  </div>
</div>
<!--//  Products Area -->

{% schema %}
  {
    "name": "Products Area",
    "settings": [
      {
        "type": "image_picker",
        "id": "products-area-bg-img",
        "label": "Products Area Background"
      }, {
        "type": "text",
        "id": "section-heading",
        "label": "Products Area Heading",
        "default": "Quick links"
      }, {
        "type": "text",
        "id": "section-description",
        "label": "Section Description",
        "default": "Quick links"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Products Area"
      }
    ]
  }
{% endschema %}