<!-- Testimonial Area -->
<div class="tm-section testimonial-area tm-padding-section bg-grey section-wrapper-{{section.id}}">
  <div class="bg-animated-shape">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10 col-12">
        <div class="tm-section-title text-center">
          <h2>{{ section.settings.section-heading }}</h2>
        </div>
      </div>
    </div>
    <div class="testimonial-slider-active tm-slider-arrow-2">
      {% for block in section.blocks %}
        <!-- Testimonial Single -->
        <div class="tm-testimonial-slideritem">
          <div class="tm-testimonial">
            <div class="tm-testimonial-author">
              <div class="tm-testimonial-authorimage">
                <img src="{{ block.settings.author-img | image_url}}" />
              </div>
              <div class="tm-testimonial-authorinfo">
                <h5>{{ block.settings.author-name }}</h5>
                <h6>{{ block.settings.author-designation }}</h6>
              </div>
            </div>
            <div class="tm-testimonial-content">
              <p>{{ block.settings.author-comment }}</p>
              <div class="tm-rating">
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span class="active">
                  <i class="zmdi zmdi-star"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!--// Testimonial Single -->
      {% endfor %}

    </div>
  </div>
</div>
<!--// Testimonial Area -->

{% schema %}
  {
    "name": "Testimonial Area",
    "settings": [
      {
        "type": "text",
        "id": "section-heading",
        "label": "Testimonial Area Heading",
        "default": "Quick links"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "author-img",
            "label": "Author Image"
          }, {
            "type": "text",
            "id": "author-name",
            "label": "Author Name",
            "default": "Lorem"
          }, {
            "type": "text",
            "id": "author-designation",
            "label": "Author Designation",
            "default": "Lorem"
          }, {
            "type": "text",
            "id": "author-comment",
            "label": "Author Comment",
            "default": "Lorem"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial Area",
        "blocks": [
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}